@import '../abstracs/colors.scss';

.container{
    background-color: $button-color;
    color: $primary-white;
    border-block-color: gray;
    display: flex;
    margin: 2rem auto;
    width: clamp(10rem, 50vw, 15rem);
    border-radius: 1rem;
    justify-content: center;
    &:hover{
        background-color: $button-hover;
        cursor: pointer;
    }
}