@import '../abstracs/colors.scss';

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 36rem;
    background-color: $primary-white;
    row-gap: 1.5rem;
    color: $text-color;
    font-weight: 900;
    font-size: clamp(12px,2vw,16px);
    border-radius: 1rem;

    & > h2 {
        background-color: $background-blue;
        width: inherit;
        display: flex;
        justify-content: center;
        color: $primary-white;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    & > label{
        & > span {
            svg {
                font-size: 20px;
            }
        }
        
        & > fieldset{
            width: 32rem;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            border: none;
            & > input {
                margin-left: 1rem;
                border-radius: 14px;
                width: 30rem;
                padding: 4px;
            }
            legend {
                text-align: center;
            }
        }

        & > input {
            width: 30rem;
            border-radius: 14px;
            padding: 4px;
            &::placeholder{
                text-transform: capitalize;
                text-align: center;
                color: $title-color;
                font-weight: 900;
            }
        }
    }

    & > div {
        display: flex;
        width: inherit;
        justify-content: space-around;
        margin-bottom: 1rem;

        & > button {
            background-color: $background-blue;
            color: $primary-white;
            display: flex;
            margin: 2rem auto;
            width: clamp(10rem, 50vw, 15rem);
            border-radius: 1rem;
            justify-content: center;
            font-weight: bold;
            &:hover{
                background-color: $button-hover;
                cursor: pointer;
            }
        }
    }



}