@import '../abstracs/colors.scss';

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    & > input{
        width: clamp(29rem, 50vw, 80rem);
        border: solid 3px $text-color;
        border-radius: 30px;
        padding: 7px 14px;
        background-color: $background-blue;
        box-shadow: 0px 6px 11px $text-color;
        color: $primary-white;
        font-weight: 900;
        &::placeholder{
          text-transform: capitalize;
          text-align: center;
          color: $primary-white;
          font-weight: 900;
        }

    }
}