@import '../abstracs/colors.scss';

.container{
    border-collapse: separate;
    text-align: center;
    // border: solid 1px black;
    .title{
        border: solid 1px black;
        background-color: $background-blue;
        color: $primary-white;
        font-size: clamp(12px,2vw,16px);
    }
    .content{
        color: $primary-black;
        font-weight: 900;
        font-size: clamp(12px,2vw,16px);
        border-collapse: separate;
        border: solid 1px black;
        padding: 14px;
        .icons{
            border: solid 1px black;
            align-content: center;
            text-align: center;
            align-items: center;
            & > div{
                & > svg{
                    color: $background-blue;
                    font-size: 22px;
                    &:hover{
                        color: $button-hover;
                        cursor: pointer;
                        transform: scale(1.5);
                    }
                }
            }
        }
    }

    th{
        padding: 6px;
    }

}