@import '../abstracs/colors.scss';

.container{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    background-color: $background-blue;
    font-size: 1rem;
    color: $primary-white;
    & > div{
        
        & > h1{
            display: flex;
            justify-content: center;
        }
        
    }
}

.logoContainer{
    display: flex;
}
.logo{
    img{
        width: 8rem;
    }
}